<div id="<%= dom_id user %>">
  <p>
    <strong>User name:</strong>
    <%= user.User_name %>
  </p>

  <p>
    <strong>User score:</strong>
    <%= user.user_score %>
  </p>

  <p>
    <strong>Game time:</strong>
    <%= user.game_time %>
  </p>

</div>
